<div class="container-fluid">

  <div class="row num">
    <div class="col-md-4 col-xs-4"></div>

    <div class="col-md-4 col-xs-4">
      <div class="row">

        <div class="col-md-3 col-xs-3">
          <h6>Tweets</h6>
          <h6 class="number"><%= @twats.count %></h6>
        </div>

        <div class="col-md-3 col-xs-3">
          <h6>Followings</h6>
        </div>

        <div class="col-md-3 col-xs-3">
          <h6>Followers</h6>
        </div>

        <div class="col-md-3 col-xs-3">
          <span id="data-bar"><%= render 'data_bar' %></span>
        </div>


      </div>
    </div>


    <div class="col-md-4 col-xs-4"></div>
  </div>

<%# ---------------------------- details bar top. form below ----------------------------------------- %>

<div class="row">
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-md-3 col-xs-3 mmaintwit pad ing">

        <%= form_for @tweet, url: tweets_path, method: :post do |f| %>
        <%= f.label :Post_a_tweet, class: "control-label" %>
        <%= f.text_area :post, cols: 40, rows: 10, class: "form-control" %>
        
        <div class="row postbutton">
          <div class="container-fluid">
            <%= f.submit "Post", class: "btn btn-primary btn-lg btn-block" %>
          </div>
        </div>
        <% end %>

      </div>


<%# ----------------------------- tweet index below ---------------------------------------------------- %>


        <div class="col-md-5 col-xs-5 mmaintwit pad">
          <div class="container-fluid">
            
             <% @tweets.each do |tweet| %>
            
              <div class="row">  

                <div class="col-md-1 col-xs-1 ind">
                  <%= avatar_for(tweet.user, size: 50, class: "img-circle avatar") %>
                </div>

                <div class="col-md-2 col-xs-2">
                  <h5 class="name tweetinfo"><%= tweet.user.name %></h5>
                </div>

                <div class="col-md-8 col-xs-8"></div>

              </div>
            
            
            <div class="row pose">
              <div class="container-fluid">
                <%= tweet.post %>
              </div>
            </div>


            <div class="row poses">
              
              <div class="col-md-10 col-xs-10">
                <small> Posted <%= time_ago_in_words(tweet.created_at) %> ago</small>
              </div>

              <div class="col-md-2 col-xs-2">
                <span id="likes-buttons-<%= tweet.id %>"><%= render 'likes_buttons', tweet: tweet %></span>
              </div>
                
        
            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <span id="small-likes-<%= tweet.id %>"><%= render 'small_likes', tweet: tweet %></span>
              </div>
            </div>


            <div class="row pose">
              <div class="col-md-2 col-xs-2">
                <%= link_to "See more", tweet_path(id: tweet.id), class: "btn btn-primary btn-xs pull-left" %>
              </div>


              <div class="col-md-2 col-xs-2">
                <%= link_to "Delete", tweet_path(id: tweet.id), method: :delete, class: "btn btn-danger btn-xs pull-left" %>
              </div>

              <div class="col-md-8 col-xs-8"></div>
              

            </div>
            <hr>
            
            <% end %>

          </div>

        </div>

<%# --------------------------- pagination below ----------------------------------------------------------%>


          <div class="col-md-3 col-xs-3 pad page">
            <div class="container-fluid">
            
              <%= will_paginate @tweets, renderer: BootstrapPagination::Rails %>

            </div>
          </div>

          <div class="col-md-3 col-xs-3 ">
            <div class="container-fluid">
              <div><h3>People you might know:</h3></div>
            
              <% User.all.each do |user| %>
                <div class="container mmaintwit pad"><%= avatar_for(user, size: 35) %>
                <%= link_to user.name, user_path(user.id) %></div>
              <% end %>

            </div>
          </div>

    </div>
  </div>
</div>

</div>