<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-xs-4"></div>

<%# ----------------- tweet show code below --------------------------------------------------- %>
    


      <div class="col-md-4 col-xs-4 mmaintwit">
        <div class="container-fluid">
          
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <h5><%= @tweet.user.name %></h5>
                  <%= @tweet.post %>
            </div>
          </div>
            
            <div class="row tweetinfo">
              
                <div class="col-md-8 col-xs-8">
                  <small><%= time_ago_in_words(@tweet.created_at) %> ago</small>
                </div>
                
                <div class="col-md-2 col-xs-2">
                  <%= link_to "Edit tweet", edit_tweet_path(id: @tweet.id), class: "btn btn-primary btn-xs" %>
                </div>
                
                <div class="col-md-2 col-xs-2">
                  <%= link_to "Delete", tweet_path(id: @tweet.id), method: :delete, class: "btn btn-danger btn-xs" %>
                </div>
              
            </div>

<%# -------------------comment posts ----------------------------------------------------------- %>
            
            <div class="row">
              <% @tweet.replies.order(created_at: :desc).each do |reply| %>

              <h5><%= reply.user.name %></h5>
              <%= reply.comment %>
            </div>

              <div class="row">
                <small><%= time_ago_in_words(reply.created_at) %> ago</small>
              </div>
            <% end %>






<%# ----------------- comment box below ------------------------------------------------------- %> 


          <div class="row">
            <div class="container-fluid">
              <%= form_for @reply, url: tweet_replies_path(tweet_id: @tweet.id), method: :put do |f| %>

                <div class="form_group">
                  <%= f.label :Comment, class: "control-label" %><br>
                  <%= f.text_area :comment, class: "form-control" %><br>
                    <div class="buttons">
                      <%= f.submit "Comment", class: "btn btn-primary btn-xs pull-right" %>
                    </div>
                </div>
              <% end %>

            </div>
          </div>
          <hr>



        </div>
      </div>



<%# ----------------- tweet show code above --------------------------------------------------- %>    
   


    <div class="col-md-4 col-xs-4"></div>
  </div>
</div>