<div class="container">
<h5><%= @tweet.user.name %></h5>
<%= @tweet.post %>
<%= link_to "Edit tweet", edit_tweet_path(id: @tweet.id), class: "btn btn-primary" %>
  <%= link_to "Delete tweet", tweet_path(id: @tweet.id), method: :delete, class: "btn btn-danger" %>


  <% @tweet.replies.order(created_at: :desc).each do |reply| %>

  <h5><%= reply.user.name %></h5>
      <%= reply.comment %>
      <%= time_ago_in_words(reply.created_at) %> ago

      <%= link_to "Edit comment", edit_tweet_reply_path(tweet_id: @tweet.id, id: reply.id) %>
  

      <%= link_to "Delete Comment", tweet_reply_path(tweet_id: @tweet.id, id: reply.id), method: :delete, data: {confirm: "Delete comment?"} %>
  <% end %>
</div>

    <%= form_for @reply, url: tweet_replies_path(tweet_id: @tweet.id), method: :post do |f| %>

      <%= f.label :comment %>
      <%= f.text_area :comment %>
      <%= f.submit %>
    <% end %>
  
