<div class="container-fluid">
	
	<div class="jumbotron">
		
	</div>

	<div class="row twitbar">
		
		<div class="col-md-3"><div><%= image_tag @user.avatar, class: 'img-thumbnail img-circle propic' %></div></div>
			
		<div class="col-md-6">

			<div class="row status">
				<div class="col-md-2 col-md-offset-1"></div>
				
				<div class="col-md-2">
					<div><p>Tweets</p></div><div class="colm"><%= @user.tweets.count %></div>
				</div>
				
				<div class="col-md-2">
					<div><p>Following</p></div><div class="colm"><%= UserStatus.where(leader_id: @user.id).count %></div>
				</div>
				
				<div class="col-md-2">
					<div><p>Follower</p></div><div class="colm"><%= UserStatus.where(follower_id: @user.id).count %></div>
				</div>
			</div>

		</div>


		<% if current_user == @user %>		
			
			<div class="col-md-offset-1 col-md-2"><div class="btn-edit"><%= link_to "Edit Profile", edit_user_path(@user), class: 'btn btn-default' %></div></div>

		<% elsif @user.user_statuses.find_by(follower_id: current_user.id) %>
			
			<% current_userstatus = @user.user_statuses.find_by(follower_id: current_user.id) %>
			<div class="btn-edit"><%= link_to "Unfollow", user_user_status_path(user_id: @user.id, user_status_id: current_userstatus.id), method: :delete, class: 'btn btn-danger btn-edit' %></div>
		
		<% else %>
		
			<div class="btn-edit"><%= link_to "Follow", user_user_statuses_path(@user), method: :post, class: 'btn btn-info btn-edit' %></div>
		
		<% end %>

	</div>

	<div class="container">

		<div class="row user-feed">
			
			<div class="col-md-4">
				
				<div><h1><%= @user.name %></h1></div>

				<p><%= @user.status %></p>
			
			</div>			

			<div class="col-md-4 user-tweets">

				<% @user.tweets.each do |tweet| %>

				<div class="row indi-tweet">
					
					<div class="col-md-2"><%= avatar_for(tweet.user, size: 40) %></div> 

					<div class="col-md-8 text-area">
						<div><p class="tweets"><strong><%= tweet.user.name %></strong> @<%= tweet.user.name %> . <%= time_ago_in_words(tweet.created_at) %></p></div>
							
						<div><%= tweet.post %></div>	

					</div>

				</div>


				<% end %>

			</div>

		</div>

	</div>



</div>
