<div class="container-fluid">
	
	<div class="jumbotron">
		
	</div>

	<div class="row twitbar">
		
		<div class="col-md-3"><div><%= image_tag @user.avatar, class: 'img-thumbnail img-circle propic' %></div></div>
			
		<div class="col-md-6">
			
			<div id="focount">
				
			<%= render 'follow_count' %>

			</div>
		
		</div>

		<div id="followton">
			
			<%= render 'follow_field' %>
		
		</div>
	
	</div>

	<div class="container">

		<div class="row user-feed">
			
			<div class="col-md-4">
				
				<div><h1><%= @user.name %></h1></div>

				<p><%= @user.status %></p>
			
			</div>			

			<div class="col-md-4 user-tweets">

				<% @user.tweets.each do |tweet| %>

				<div class="row indi-tweet">
					
					<div class="col-md-2"><%= avatar_for(tweet.user, size: 40) %></div> 

					<div class="col-md-8 text-area">
						<div><p class="tweets"><strong><%= tweet.user.name %></strong> @<%= tweet.user.name %> . <%= time_ago_in_words(tweet.created_at) %></p></div>
							
						<div><%= tweet.post %></div>	

					</div>

				</div>


				<% end %>

			</div>

		</div>

	</div>



</div>
