<div class="container-fluid">
	
	<div class="jumbotron">
		
	</div>

	<div class="container">

		<div><%= image_tag @user.avatar, class: 'img-thumbnail img-responsive' %></div>

		<div><h1><%= @user.name %></h1></div>

		<p><%= @user.status %></p>
	
		<%= link_to "Edit", edit_user_path(@user) %>

		<% if current_user == @user %>		
			<p>Same User</p>
		<% elsif @user.user_statuses.find_by(follower_id: current_user.id) %>
			<% current_userstatus = @user.user_statuses.find_by(follower_id: current_user.id) %>
			<div><%= link_to "Unfollow", user_user_status_path(user_id: @user.id, user_status_id: current_userstatus.id), method: :delete %></div>
		<% else %>
			<div><%= link_to "Follow", user_user_statuses_path(@user), method: :post %></div>
		<% end %>
	</div>



</div>
