<div id="bg">
            <%= image_tag "home.jpg", size: 10%>
          </div>

          <div class="container-fluid">
            </div>
              <div class="row">
                <div class="col-md-3 col-xs-3"></div>
                <div class="col-md-4 col-xs-4 bghome">
                  <h1>Hi. Sign in here!</h1>
                    <div class="form-group">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        

                        <%= f.label :email, class: "control-label bghomefont" %><br />
                        <%= f.email_field :email, autofocus: true, class: "form-control" %><br>
                      
                        <%= f.label :password, class: "control-label bghomefont" %>
                        <%= f.password_field :password, autocomplete: "off", class: "form-control" %><br>
                        
                        <div class="buttons">
                         <%= f.submit "Log in", class: "btn btn-primary btn-lg btn-block pull-right" %><br>
                        </div>

                        <div row class="bghomefont signup">
                          Not a member? <strong><u><%= link_to "Sign Up", new_user_registration_path, class: "bghomefont" %></u></strong> first!
                        </div>

                      <% end %>
                     </div>
                </div>
                <div class="col-md-4 col-xs-4"></div>
              </div>
          </div>

