<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />


  </head>

  <body>
    <nav class="navbar navbar-transparent navbar-top navbar-color-on-scroll">

                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-icons">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a><%= link_to "Twatter", root_path, class: 'navbar-brand' %></a>
                                </div>

                                <div class="collapse navbar-collapse" id="example-navbar-icons">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><%= link_to 'Home'%></li>
                                                <li><%= link_to'Logout', destroy_user_session_path, method: :delete %></li>
                                        <li>
                                            <a href="#pablo"><i class="material-icons">email</i></a>
                                        </li>
                                        <% if user_signed_in? %>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="material-icons">face</i>
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-header"> 
                                                <%= link_to "#{current_user.name}", user_path(current_user.id) %></li>
                                                <li class="divider"></li>
                                                <li><%= link_to 'About Us', new_user_registration_path %></li>
                                                <li class="divider"></li>
                                            </ul>
                                        </li>
                                        <% else %>
                                            <li><%= link_to 'Login', new_user_session_path %></li>
                                            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                        </nav>


    <%= yield %>
  </body>
</html>
