<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

  </head>

  <body>

<nav class="navbar navbar-top homebar">

<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-icons">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a><%= link_to "Twatter", tweets_path, class: 'navbar-brand twatand' %></a>
  </div>

    <div class="collapse navbar-collapse" id="example-navbar-icons">
      
      <% if user_signed_in? %>
      <ul class="nav navbar-nav">

        <li><%= link_to'Logout', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to current_user.name, user_path(current_user) %></li>
        
        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= avatar_for(current_user, size: 35)  %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-header"> 
                <li><%= link_to 'About Us', new_user_registration_path %></li>
                <li class="divider"></li>
              </li>
            </ul>
          </li>
          <li><%= link_to "Tweet", new_tweet_path, class: 'btn btn-info' %></li>
        
        </ul>
      
      <% else %>

          

       
        
      <% end %>
    
    </ul>
    </div>
  </div>
</nav>
    
     <% flash.class %>
      <% flash.each do |key,value| %>
        <% key %>
        <h3><%= value %></h3>
      <% end %>
  </div>
</div>



    <%= yield %>
  </body>
</html>
